<html>
<head>
<title>Coronavirus simulation: for the Combating COVID 19 challenge</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<h1 justify='center'>Welcome to the Coronavirus Simulation for the NYAS Combating COVID-19 Challenge</h1>
<p>This simulation uses data from India to simulate the spread of the novel Coronavirus. Due to computing restrictions, the model has to be limited and therefore is not 100% accurately predicting the outbreak. Nevertheless, it still accurately predicts the spread of the epidemic across India with and without a mask. This simulation will show the use of our mask in combating COVID-19. It checks the increase in number of cases reported from the small-world model. We have also included a secondary button that uses up-to-date data for the current condition of the outbreak in India to establish a control. </p>
<hr>
<a class="btn btn-primary" href="/withmask">Simulation with mask</a>
<a class="btn btn-danger" href="/withoutmask">Simulation without mask</a>
<a class="btn btn-outline-primary" href="/currentconditions">Current COVID-19 Conditions in India</a>
<hr>
<p>Please note - this processing is dynamic and we don't have very large servers, so the loading speed is a bit slow. Please bear with us!</p>
</body>
</html>